/**
COMMENT
**/

body{
    font-family: monospace,sans-serif;

}

.font-primary{
    color: rgb(31, 168, 189);
}
.navbar-brand{
    font-size: 20px; 
    font-weight: bold;
}



h2{
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;

}
a.font-black{
    color: black !important;

}

#about{
    margin: 60px auto;
   max-width: 400px;
   text-align: center;

}
#about img{
    border-radius: 50%;
    width: 130px;
    margin-bottom: 10px;

}
#about .name{
    font-size: 20px;
}
#about .role{
    font-size: 17px;
    color: gray;
    margin-bottom: 10px;
}
#about .skills{
    font-size: 15px;
    color: #00aeab;
    margin-bottom: 10px;

}
#about .email{
    margin-top: 14px;
    font-size: 15px;
}
#about .icon{
    margin-top: 20px;
    font-size: 30px;
}
#about .icon a {
    color: black;
}

/************

PROJECT
**************/

#project{
    margin: 60px auto;
    width: 80%;

}
#project h2{
    text-align: center;
}
#project .card omg{
    width: 100%;
}

#project .card-title{
    font-weight: bold;
}